AddHandler wsgi-script .py
RewriteEngine On
RewriteBase /
WSGIScriptAlias / /home/masterremovebg/www/Remove-Master-BG/Master/wsgi.py

<Directory /home/masterremovebg/www/Remove-Master-BG/>
    Require all granted
</Directory>
