asgiref==3.8.1
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
distlib==0.3.8
Django==5.0.7
djangorestframework==3.15.2
djangorestframework-recursive==0.1.2
numpy==1.23.5
requests==2.31.0
sqlparse==0.5.0
