<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MASTER REMOVE BG</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="icon" href="{% static 'img/favicon_16x16.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon_32x32.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon_64x64.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon_128x128.ico' %}" type="image/x-icon">
</head>
<body>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <header>
        <div class="logo">
            <div class="title">
                MASTER <span class="icon">&#9654;</span> <!-- Ícone de play -->
            </div>
            <div class="subtitle">REMOVE BG</div>
        </div>
        <nav>
            <a href="{{ URL_SITE }}">REMOVER FUNDO</a>
            <a href="{{ URL_SITE }}/contact">CONTATOS</a>
        </nav>
        <div class="login">
            <a href="{{ URL_SITE }}/admin">Login</a>
        </div>
    </header>
    <main>
        <div class="contact-form">
            <p>Grande visão sem ótimas pessoas é irrelevante.</p>
            <p>Vamos trabalhar juntos!</p>
            <form id="contact-form" method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                <input type="text" id="name" name="name" placeholder="Digite seu nome" required>
                <input type="email" id="email" name="email" placeholder="Digite seu email" required>
                <textarea id="message" name="message" rows="8" placeholder="Envie sua mensagem" required></textarea>
                <button type="submit">Enviar</button>
            </form>
            <div class="loading" id="loading">
            </div>
            <div class="status-message" id="status-message"></div>
        </div>
        <div class="contact-message">
            <h2>CONTATO</h2>
            <p>Preecha o formulário ao lado ou envie e-mail para contato@removemasterbg.com</p>
        </div>
    </main>
    <script src="{% static 'js/contact.js' %}"></script>
</body>
</html>
