<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}Master Remove BG é uma ferramenta gratuita para remover fundo de imagens focada em formatos para marketplaces. Utilizando das ferramentas mais modernas de remoção de fundo, e aplicação de fundo branco para anúncios em marketplaces como o OLX e o Mercado Livre.{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}remove-bg, marketplaces, remover fundo de imagem, ferramenta para remover fundo de imagem, master remove bg, master remove,  inserir fundo branco em imagens, formato de imagens de anúncios no Mercado Livre e OLX, remover fundo de imagem no Mercado Livre, remover fundo de imagem no OLX, inserir fundo branco para anúncios OLX, remover imagens {% endblock %}">
    <meta name="author" content="VINCIUS FELD - DEV">
    <title>MASTER REMOVE BG</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="icon" href="{% static 'img/favicon_16x16.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon_32x32.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon_64x64.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon_128x128.ico' %}" type="image/x-icon">
</head>
<body>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <header>
        <div class="logo">
            <div class="title">
                MASTER <span class="icon">&#9654;</span> <!-- Ícone de play -->
            </div>
            <div class="subtitle">REMOVE BG</div>
        </div>
        <nav>
            <a href="#">REMOVER FUNDO</a>
            <a href="{{ URL_SITE }}/contact">CONTATOS</a>
        </nav>
        <div class="login">
            <a href="{{ URL_SITE }}/admin">Login</a>
        </div>
    </header>
    <main>
        <div class="image-container">
            <img src="{% static 'img/remove-bg.png' %}" alt="Imagem exemplo">
            <p>
                <span class="highlight-remova-fundo">Remova fundo</span> da sua 
                <span class="highlight-imagem">imagem</span> e utilize no seu 
                <span class="highlight-marketplace">Marketplace</span>.
            </p>
            <div class="highlight-obs">*Remove de forma automática</div>.
        </div>
        <div class="upload-container">
            <h1>Faça Upload<i class="fas fa-upload"></i></h1>
            <div id="drop-zone" class="drop-zone">
                <p class="drag-message">Solte o arquivo aqui</p>
                <p class="default-text">Arraste e solte a imagem aqui ou clique para selecionar</p>
                <div id="file-info" class="file-info">
                    <p id="file-name" class="file-name">Nenhuma imagem selecionada</p>
                    <p id="remove-file" class="remove-file" style="display: none;">&#10006;</p> <!-- Botão para remover -->
                </div>
                <input type="file" id="file" name="file" multiple>
                <div id="loading" class="loading"></div>
            </div>
            <div id="error-message" class="error-message"></div>
            <button id="upload-button">Enviar</button>
        </div>
    </main>
    <script src="{% static 'js/upload.js' %}"></script>
</body>
</html>
